html,
body {
    font-family: $font-default;
    font-weight: 300;
    color: $color-main;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: $color-secondary;

    &:hover {
        opacity: .7
    }
}

.content-main {
    margin: 80px 0;
}

.content-blog {
    display: flex;


    &__post {
        position: relative;

        &__categories {
            position: absolute;
            top: 0;
            left: 0;
            margin: 1rem;

            &__link {
                background-color: $color-white;
                color: $color-secondary;
                font-size: 0.8rem;
                padding: 2px 5px;
                border-radius: 6px;
                margin-right: 2px;
                margin-bottom: 5px;
                display: block;

                &:hover {
                    background-color: $color-secondary;
                    color: $color-white;
                }
            }

        }

        &__title {
            font-size: 1.4rem;
        }

        &__subtitle {
            font-size: 1rem;
        }
    }
}

.container-full {
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
}

.box-square {
    background-color: $color-main;
    width: 25vw;
    position: relative;
    display: flex;

    img {
        max-width: 100%;
        height: auto;
    }

    .fa-images {
        text-align: center;
        z-index: 99;
        color: $color-white;
        margin: auto;
        font-size: 3rem;
    }

    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

.hide {
    display: none !important;
}

footer {}