$color-main: #303841; 
$color-secondary: #808080; 
$color-complementar: #be3144; 
$color-contrast: #ffc93c;

$color-white: #ffffff;
$color-black: #000000;
$color-gold: #ffc93c; 
$color-graylight: #f1f1f1;

$border: 3px solid $color-black;
$border-dark: 3px solid $color-white;
$border-gold: 3px solid $color-gold;

.bg-transparent {
    background-color: transparent !important;
}

.bg-dark {
    background-color: $color-black;
    color: $color-white;
}
.bg-black {
    background-color: $color-black;
}

.bg-white {
    background-color: $color-white;
}

.bg-main {
    background-color: $color-main;
    color: $color-white;
}

.color-white {
    color: $color-white;
}

.color-gold {
    color: $color-gold;
}

.color-black {
    color: $color-black;
}