.site-header {
    margin-bottom: 70px;
}

.fixed-top {
    top: 0 !important; 
}

.navbar-brand {
    padding-bottom: 0 !important;
}

.navbar-nav {
    .nav-link {
        font-family: $font-title;
        padding: 0 12px !important;
        font-size: 1.1em !important;
    }
}