.site-header {
    margin-bottom: 70px;
    @include border-shadow(0, 0, 3px, $color-secondary);

    .logo-text {
        font-size: 3em;
        font-weight: 300;
        text-shadow: none;
        color: $color-black;
        top: -5px;
        display: block;
        position: relative;
        @extend .trans;

        &:hover {
            color: $color-gold;
        }
    }
}

.fixed-top {
    top: 0 !important;
    position: fixed;
    background-color: $color-white;
}

.navbar-brand {
    padding-bottom: 0 !important;
}

.btn-menu-hamburguer {
    border: none;
    font-size: 2rem;
    color: black;

    .fa-x {
        display: none;
        color: $color-black;
    }

}

.logo {
    width: 75px;
    margin-top: 30px;
    z-index: 9;
    position: relative;
    padding: 10px;
}

.logo-subtitle {
    padding-bottom: 0;
    margin-bottom: 0;
}

.offcanvas-title {
    visibility: hidden;
}

.offcanvas {
    top: 0 !important;
    width: 100vw !important;

    &-body {
        text-align: center;
    }

    &.show {
        height: 100vh;
    }
}

.btn-close {
    font-size: 1.5rem;
}

.navbar {
    @extend .trans;
}

.navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:after {
        content: "";
        display: block;
        background-color: #ffffff;
        padding: 10px;
        transform: rotate(45deg);
        width: 70px;
        height: 70px;
        z-index: -1;
        position: absolute;
        top: 48px;
    }
}

// #offcanvas-navbar {
//     display: none;
// }

.offcanvas {

    &-backdrop.show {
        opacity: 0;
    }

    &.show {
        .offcanvas-body {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background-color: $color-white;
            display: block !important;

            .navbar-nav {
                padding: 0;
                width: 100%;
                height: 100%;
                display: block;
                margin-top: 10vh;

                .nav-item {
                    margin: 1rem auto;

                    .nav-link {
                        font-size: 4rem;
                        font-family: $font-title;

                        &:hover {
                            color: $color-gold;
                        }
                    }
                }
            }
        }

    }
}

.menu-fullscreen {
    .btn-menu-hamburguer {
        z-index: 999999;
        position: absolute;
        right: 15px;
        top: 15px;
        color: $color-black;

        .fa-bars {
            display: none;
        }

        .fa-x {
            display: block;
        }
    }

    .btn-toggle-dark-light {
        display: none;
    }

    &.dark-theme {
        .btn-menu-hamburguer {
            .fa-x {
                color: $color-white;
            }
        }

        .offcanvas-body {
            background-color: $color-black;
        }
    }
}

.words-effect {
    &__container {
        width: auto;
    }
}

.offcanvas-backdrop {
    z-index: -99999;
}

@media(min-width: 320px) {
    .bg-fullscreen {
        &__title {
            font-size: 5rem;
        }
    }

    .navbar {
        padding: 10px !important;
    }

    .offcanvas {
        &.show {
            .offcanvas-body {
                .navbar-nav {
                    margin-top: 5vh;

                    .nav-item {
                        .nav-link {
                            font-size: 3rem;
                        }

                    }

                }
            }
        }
    }

    .words-effect {
        width: 100vw;
    }

    .logo-subtitle {
        font-size: 2rem;
    }

    .words-effect__container {
        padding-left: 0;

        &__text {
            padding-left: 0px;
            display: none;
        }

        &__list {
            padding-left: 50px;

        }
    }

    .btn-toggle-dark-light {
        margin: 0;
        position: absolute;
        z-index: 9;
    }

    .btn-scroll-down {
        margin: auto;
        position: absolute;
        left: 49%;
    }


}

@media(min-width: 320px) {
    .title-section {
        font-size: 4rem;
    }
}

@media(min-width: 768px) {
    .bg-fullscreen {
        &__title {
            font-size: 7rem;
        }
    }

    .logo-text {
        //font-size: 4em;
    }

    .btn-toggle-dark-light {
        right: 0;
        position: absolute;
        right: 50px;
    }

    .navbar-brand {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        padding: 10px 0 0;

        &:after {
            display: none;
        }
    }

    .words-effect__container {
        &__text {
            display: inline-block;
        }

        &__list {
            padding-left: 200px;
        }
    }
}

@media(min-width: 992px) {
    .navbar {
        padding: 5px !important;
    }

    .words-effect__container {
        display: block;
    }

    .btn-toggle-dark-light {
        right: 70px;
        top: 22px;
        z-index: 9;
    }
}

@media(min-width: 1200px) {}