@mixin border-shadow($px1, $px2, $px3, $color) {
  -webkit-box-shadow: $px1 $px2 $px3 $color;
  -moz-box-shadow: $px1 $px2 $px3 $color;
  box-shadow: $px1 $px2 $px3 $color;
}

//mixins for transitions
@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transition2var($transition1, $transition2) {
  -moz-transition: $transition1, $transition2;
  -o-transition: $transition1, $transition2;
  -ms-transition: $transition1, $transition2;
  -webkit-transition: $transition1, $transition2;
  transition: $transition1, $transition2;
}

// mixins for transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// mixin for placeholder
@mixin placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}

// Mixin for keyframes:

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

//Mixin for fonts:

@mixin fonts($fsize: false, $fcolor: false, $fweight: false, $flheight: false) {
  @if $fsize {
    font-size: $fsize;
  }

  @if $fcolor {
    color: $fcolor;
  }

  @if $fweight {
    font-weight: $fweight;
  }

  @if $flheight {
    line-height: $flheight;
  }
}

@mixin tr {
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    //transition-delay: .2s;
}

.trans {
    @include transition(all .8s ease);
    @include transform(translateX(0)); //another one below
}
