@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&family=Ubuntu:wght@300;700&family=Merienda:wght@300;900&display=swap');

$font-default: 'Nunito', sans-serif;
$font-title: 'Ubuntu', sans-serif;

$font-logo: 'Merienda', cursive;

.title-section {
    font-size: 3.2rem;
    font-family: $font-title;
    font-weight: 700;

    &:after {
        content: '';
        width: 100px;
        height: 3px;
        
    }
}

.logo-text {
    font-family: $font-logo;
}