@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font-default: 'Open Sans', sans-serif;
$font-title: 'Roboto', sans-serif;
$font-subtitle: "Open Sans", serif;

$font-logo: 'Merienda', cursive;

.title-section {
    font-size: 5rem;
    font-family: $font-title;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;

    &:after {
        content: '';
        width: 100px;
        height: 3px;
    }
}

.logo-text {
    font-family: $font-logo;
}
