/*!
 * bootScore custom styles
 */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&family=Ubuntu:wght@300;700&family=Zeyada&display=swap");
.bg-transparent {
  background-color: transparent !important;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.title-section {
  font-size: 2rem;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.title-section:after {
  content: "";
  width: 100px;
  height: 3px;
}

.logo-text {
  font-family: "Zeyada", cursive;
}

html,
body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #303841;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #3a4750;
}
a:hover {
  opacity: 0.7;
}

#wpadminbar {
  display: none;
}

.content-main {
  margin: 80px 0;
}

.content-blog {
  display: flex;
}
.content-blog__post {
  position: relative;
}
.content-blog__post__categories {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
}
.content-blog__post__categories__link {
  background-color: #ffffff;
  color: #3a4750;
  font-size: 0.8rem;
  padding: 2px 5px;
  border-radius: 6px;
  margin-right: 2px;
  margin-bottom: 5px;
  display: block;
}
.content-blog__post__categories__link:hover {
  background-color: #3a4750;
  color: #ffffff;
}
.content-blog__post__title {
  font-size: 1.2rem;
  min-height: 70px;
  margin-bottom: 10px;
  display: flex;
}
.content-blog__post__subtitle {
  font-size: 1rem;
}
.content-blog__post__link {
  margin: auto;
}

.container-full {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.mb-8 {
  margin-bottom: 80px;
}

.content-centered {
  display: flex;
  align-items: center;
}
.content-centered__box-text {
  text-align: center;
  margin: auto;
}
.content-centered__box-text .logo-text {
  margin-top: -120px;
}

.box-square {
  background-color: #303841;
  width: 25vw;
  position: relative;
  display: flex;
}
.box-square img {
  max-width: 100%;
  height: auto;
}
.box-square .fa-images {
  text-align: center;
  z-index: 99;
  color: #ffffff;
  margin: auto;
  font-size: 3rem;
}
.box-square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.hide {
  display: none !important;
}

.content-btn-scroll {
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 80px;
}

.btn-scroll-down {
  text-align: center;
  margin: 0 auto 35px;
  position: relative;
  font-size: 1.7rem;
}
.btn-scroll-down:after {
  content: "";
  border: 3px solid #000000;
  padding: 20px;
  position: absolute;
  transform: rotate(-45deg);
  z-index: -1;
  margin-left: -35px;
  margin-top: -10px;
}
.btn-scroll-down:hover {
  color: #ffc93c;
}
.btn-scroll-down:hover:after {
  background-color: #000000;
}

.site-header {
  margin-bottom: 70px;
}

.fixed-top {
  top: 0 !important;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px #3a4750;
}

.navbar-brand {
  padding-bottom: 0 !important;
}

.navbar-nav .nav-link {
  font-family: "Ubuntu", sans-serif;
  padding: 0 12px !important;
  font-size: 1.1em !important;
}/*# sourceMappingURL=main.css.map */