/*!
 * bootScore custom styles
 */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&family=Ubuntu:wght@300;700&family=Zeyada&display=swap");
.bg-transparent {
  background-color: transparent !important;
}

.bg-dark {
  background-color: #000000;
  color: #ffffff;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.bg-main {
  background-color: #303841;
  color: #ffffff;
}

.color-white {
  color: #ffffff;
}

.color-gold {
  color: #f5b700;
}

.title-section {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.title-section:after {
  content: "";
  width: 100px;
  height: 3px;
}

.logo-text {
  font-family: "Zeyada", cursive;
}

.trans, a {
  transition: all 1.4s ease;
  transform: translateX(0);
}

html {
  margin-top: 0 !important;
}

html,
body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #303841;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #3a4750;
  font-size: 1.2rem;
}
a:hover {
  color: #f5b700;
}
a:hover i {
  color: #f5b700;
}

p {
  font-size: 1.2rem;
}

.bold {
  font-weight: 700;
}

.text-justify {
  text-align: justify;
}

#wpadminbar {
  display: none;
}

.content-main {
  margin: 120px 0;
}

.content-blog {
  display: flex;
}
.content-blog__post {
  position: relative;
}
.content-blog__post__categories {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
}
.content-blog__post__categories__link {
  background-color: #ffffff;
  color: #3a4750;
  font-size: 0.8rem;
  padding: 2px 5px;
  border-radius: 6px;
  margin-right: 2px;
  margin-bottom: 5px;
  display: block;
}
.content-blog__post__categories__link:hover {
  background-color: #3a4750;
  color: #ffffff;
}
.content-blog__post__title {
  font-size: 1.2rem;
  min-height: 70px;
  margin-bottom: 10px;
  display: flex;
}
.content-blog__post__subtitle {
  font-size: 1rem;
}
.content-blog__post__link {
  margin: auto;
}

.container-full {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.mb-8 {
  margin-bottom: 80px;
}

.content-centered {
  display: flex;
  align-items: center;
}
.content-centered__box-text {
  text-align: center;
  margin: auto;
}
.content-centered__box-text .logo-text {
  margin-top: -120px;
}

.box-square {
  background-color: #303841;
  width: 25vw;
  position: relative;
  display: flex;
}
.box-square img {
  max-width: 100%;
  height: auto;
}
.box-square .fa-images {
  text-align: center;
  z-index: 99;
  color: #ffffff;
  margin: auto;
  font-size: 3rem;
}
.box-square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.hide {
  display: none !important;
}

.content-btn-scroll {
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 80px;
}

.btn-scroll-down {
  text-align: center;
  margin: 0 auto 35px;
  position: relative;
  font-size: 1.7rem;
}
.btn-scroll-down:after {
  content: "";
  border: 3px solid #000000;
  padding: 20px;
  position: absolute;
  transform: rotate(-45deg);
  z-index: 9;
  margin-left: -35px;
  margin-top: -5px;
}
.btn-scroll-down:hover {
  color: #f5b700;
}
.btn-scroll-down:hover:after {
  background-color: #000000;
}

.offcanvas {
  top: 0;
}

.square {
  position: relative;
}
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  background-color: #000000;
}
.square__image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border: 3px dashed #ffffff;
}

.bg-dark .btn-scroll-down i {
  color: #ffffff;
}
.bg-dark .btn-scroll-down:after {
  border: 3px solid #ffffff !important;
  z-index: 9;
}
.bg-dark .btn-scroll-down:hover i {
  color: #f5b700 !important;
}
.bg-dark .btn-scroll-down:hover:after {
  border: 3px solid #f5b700 !important;
  background-color: transparent;
}

@media (min-width: 320px) {
  .content-centered__box-text .logo-text {
    margin-top: 0;
  }
  .content-btn-scroll {
    margin-top: 40px;
  }
  .content-blog {
    display: block;
    -moz-columns: 1;
         columns: 1;
  }
  .content-blog__post {
    margin-bottom: 35px;
  }
  .content-blog .box-square {
    width: 100vw;
  }
}
@media (min-width: 992px) {
  .content-blog {
    display: flex;
  }
  .content-blog__post {
    width: 25vw;
  }
  .content-blog .box-square {
    width: auto;
  }
}
.site-header {
  margin-bottom: 70px;
  box-shadow: 0 0 3px #3a4750;
}

.fixed-top {
  top: 0 !important;
  position: fixed;
  background-color: #ffffff;
}

.navbar-brand {
  padding-bottom: 0 !important;
}

.navbar-nav .nav-link {
  font-family: "Nunito", sans-serif;
  padding: 20px;
  font-size: 2.2em !important;
}
.navbar-nav .nav-link:hover {
  color: #f5b700;
}

.btn-menu-hamburguer {
  border: none;
  font-size: 2rem;
  color: black;
}

.logo {
  width: 75px;
  margin-top: 30px;
  z-index: 9;
  position: relative;
  padding: 10px;
}

.offcanvas-title {
  visibility: hidden;
}

.offcanvas {
  top: 0 !important;
  width: 100vw !important;
}
.offcanvas-body {
  text-align: center;
}

.btn-close {
  font-size: 1.5rem;
}

.navbar-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-brand:after {
  content: "";
  display: block;
  background-color: #ffffff;
  padding: 10px;
  transform: rotate(45deg);
  width: 70px;
  height: 70px;
  z-index: -1;
  position: absolute;
  top: 48px;
}

@media (min-width: 768px) {
  .navbar-brand {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    padding: 10px 0 0;
  }
  .navbar-brand:after {
    display: none;
  }
  .navbar-nav .nav-link {
    padding: 0 10px !important;
    font-size: 1.1rem !important;
  }
}
@media (min-width: 992px) {
  .navbar-nav .nav-link {
    font-size: 1.2em !important;
  }
}
footer a, footer i {
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */